In [1]:
import pandas as pd
from faker import Faker
import random
from datetime import date, timedelta
import numpy as np
import string

fake = Faker('en_IN')
Faker.seed(42)
random.seed(42)

email_providers = [
    'gmail.com', 'hotmail.com', 'yahoo.com', 'hyderabad.bits-pilani.ac.in'
]

In [2]:
states = pd.read_csv("./res/states.csv", header=None).rename(columns={0: 'state', 1: 'name'})
states = states[['state', 'name']]
states.head()

  state               name
0    AP     Andhra Pradesh
1    AR  Arunachal Pradesh
2    AS              Assam
3    BR              Bihar
4    CG        Chattisgarh

In [3]:
cities = pd.read_csv('./res/cities.csv')[['state', 'district']]
cities

    state                  district
0      AN                   Nicobar
1      AN  North and Middle Andaman
2      AN             South Andaman
3      AP                 Anantapur
4      AP                  Chittoor
..    ...                       ...
712    WB         Paschim Medinipur
713    WB           Purba Medinipur
714    WB                   Purulia
715    WB         South 24 Parganas
716    WB            Uttar Dinajpur

[717 rows x 2 columns]

In [4]:
cities = cities\
.merge(states, how='left', left_on='state', right_on='state')\
.dropna()[['district', 'name']]\
.rename(columns={'name': 'state'})

cities

              district           state
3            Anantapur  Andhra Pradesh
4             Chittoor  Andhra Pradesh
5        East Godavari  Andhra Pradesh
6               Guntur  Andhra Pradesh
7               Kadapa  Andhra Pradesh
..                 ...             ...
712  Paschim Medinipur     West Bengal
713    Purba Medinipur     West Bengal
714            Purulia     West Bengal
715  South 24 Parganas     West Bengal
716     Uttar Dinajpur     West Bengal

[674 rows x 2 columns]

In [5]:
def get_random_city():
    return cities.to_numpy()[random.randint(0, len(cities)-1)]
get_random_city()

array(['Purba Bardhaman', 'West Bengal'], dtype=object)

In [6]:
locality = pd.read_csv('./res/localities.csv')[['key', 'place_name', 'admin_name1']]\
.rename(columns={'key': 'pincode', 'admin_name1': 'state'})
locality

       pincode               place_name      state
0       110001          Connaught Place  New Delhi
1       110002               Darya Ganj  New Delhi
2       110003                  Aliganj  New Delhi
3       110004       Rashtrapati Bhawan  New Delhi
4       110005  Lower Camp Anand Parbat  New Delhi
...        ...                      ...        ...
11037   855116               Thakurganj      Bihar
11038   855117                Taiyabpur      Bihar
11039   855119               Terhagachi      Bihar
11040   855121               Balarampur      Bihar
11041   855126                   Tulsia      Bihar

[11042 rows x 3 columns]

In [7]:
def get_random_locality(state):
    df = locality.query('@state == state')
    if(len(df) == 0):
        df = locality
    return df.to_numpy()[min(random.randint(0, len(df) - 1), 5)]

get_random_locality('New Delhi')

array([110006, 'Bara Tooti', 'New Delhi'], dtype=object)

In [8]:
def rand_pass(size):
    generate_pass = ''.join([random.choice(
                        string.ascii_letters + string.digits)
                        for n in range(size)])
                          
    return generate_pass

In [9]:
def get_person():
    aadhar = random.randint(2000, 5000)
    age = random.randint(18, 60)
    firstname = fake.first_name()
    lastname = fake.last_name()
    email = firstname.lower() + '.' + lastname.lower() + str(
        random.randint(100, 2000)) + '@' + random.choice(email_providers)
    password = rand_pass(10)
    door = fake.building_number()
    cityObj = get_random_city()
    city = cityObj[0]
    state = cityObj[1]
    locality = get_random_locality(state)
    pin = locality[0]
    street = locality[1]
    
    query = "exec CreateNewUser('{}', {}, '{}', '{}', '{}', '{}', '{}', '{}', '{}', {});".format(
    aadhar, age, email, password, firstname + ' ' + lastname, door, street, city,
    state, pin)
    return (query, aadhar)

In [10]:
aadhars = []

with open('users.sql', 'w+') as f:
    for _ in range(20):
        person = get_person()
        aadhars.append(person[1])
        print(person[0])
        f.writelines(person[0] + '\n')

exec CreateNewUser('2102', 35, 'navya.bhalla601@hotmail.com', 'iVgRV5IfLB', 'Navya Bhalla', 'H.No. 433', 'Khowangghat', 'Upper Subansiri', 'Arunachal Pradesh', 785676);
exec CreateNewUser('2383', 31, 'hiran.shan576@gmail.com', 'JmTPSIAoCL', 'Hiran Shan', 'H.No. 819', 'Khalwa', 'Dewas', 'Madhya Pradesh', 450117);
exec CreateNewUser('2026', 28, 'aarna.babu1529@hyderabad.bits-pilani.ac.in', 'vrjn9Wvgfy', 'Aarna Babu', 'H.No. 133', 'Mahendru', 'Sheikhpura', 'Bihar', 800006);
exec CreateNewUser('3408', 56, 'dishani.ramachandran641@gmail.com', 'UDIh7yfJs1', 'Dishani Ramachandran', 'H.No. 838', 'Bara Tooti', 'Haridwar', 'Uttarakhand', 110006);
exec CreateNewUser('3481', 54, 'aaina.choudhary493@gmail.com', 'cQoXsf2o3g', 'Aaina Choudhary', '94', 'Tlaingnuam', 'Mamit', 'Mizoram', 796015);
exec CreateNewUser('3857', 58, 'zoya.virk1808@yahoo.com', 'kxwnQrS7RP', 'Zoya Virk', 'H.No. 265', 'Mahendru', 'Bhagalpur', 'Bihar', 800006);
exec CreateNewUser('4187', 33, 'ranbir.brahmbhatt434@hyderabad.bits-pilani.ac.in', 'yr7OSJoRu1', 'Ranbir Brahmbhatt', '511', 'Ulubari', 'Lakhimpur', 'Assam', 781007);
exec CreateNewUser('2131', 38, 'vaibhav.bava921@yahoo.com', 'en68K4TunP', 'Vaibhav Bava', 'H.No. 59', 'Hetimpur', 'Sivaganga', 'Tamil Nadu', 274206);
exec CreateNewUser('4633', 47, 'prerak.swamy392@yahoo.com', 'ipVJIqVLB5', 'Prerak Swamy', 'H.No. 781', 'Dasna Gate', 'Hapur (Panchsheel Nagar)', 'Uttar Pradesh', 201009);
exec CreateNewUser('3482', 32, 'uthkarsh.baral383@hyderabad.bits-pilani.ac.in', 'fWd3hjOkYR', 'Uthkarsh Baral', '49/59', 'Bara Tooti', 'Sundargarh', 'Odisha', 110006);
exec CreateNewUser('2260', 42, 'kartik.sarraf881@hyderabad.bits-pilani.ac.in', 'HqJ38aRUhR', 'Kartik Sarraf', 'H.No. 034', 'Bara Tooti', 'Suryapet', 'Telangana', 110006);
exec CreateNewUser('4625', 39, 'dhanush.varma328@yahoo.com', 'BkDa9U4UqG', 'Dhanush Varma', '164', 'Dundahera', 'Palwal', 'Haryana', 122016);
exec CreateNewUser('2435', 58, 'amani.ravi711@hotmail.com', 'jxWkI9X7H6', 'Amani Ravi', 'H.No. 25', 'Langar House', 'Anantapur', 'Andhra Pradesh', 500008);
exec CreateNewUser('3327', 49, 'sumer.cheema139@gmail.com', '7x41Ztpdp4', 'Sumer Cheema', '41/928', 'Dasna Gate', 'Budaun', 'Uttar Pradesh', 201009);
exec CreateNewUser('2350', 49, 'samiha.das1771@gmail.com', 'WIXiiQE8Jk', 'Samiha Das', '764', 'Khalwa', 'Alirajpur', 'Madhya Pradesh', 450117);
exec CreateNewUser('4484', 45, 'navya.sankaran533@hotmail.com', 'TtzQPxC5HC', 'Navya Sankaran', '35/03', 'Raipur Karchulian', 'Koriya', 'Chattisgarh', 486114);
exec CreateNewUser('2920', 22, 'arhaan.swaminathan792@gmail.com', 'LJoLoaeTOd', 'Arhaan Swaminathan', 'H.No. 64', 'Agaram', 'Chikkamagaluru', 'Karnataka', 560007);
exec CreateNewUser('2128', 39, 'chirag.cherian245@hotmail.com', 'rQFnIiU74K', 'Chirag Cherian', '53/76', 'Dasna Gate', 'Firozabad', 'Uttar Pradesh', 201009);
exec CreateNewUser('2995', 48, 'nayantara.karnik1753@hyderabad.bits-pilani.ac.in', 'mggQBwBAD3', 'Nayantara Karnik', '423', 'Ulubari', 'Karimganj', 'Assam', 781007);
exec CreateNewUser('4676', 59, 'shanaya.mand301@gmail.com', 'zUvZ3gpmmI', 'Shanaya Mand', '49/69', 'Akbarpur', 'Banswara', 'Rajasthan', 301031);

In [11]:
def get_property(pid):
    rent = random.randrange(20000, 60000, 1000)
    rentHike = round(random.uniform(0, 100), 4)
    floors = random.randint(1, 3)
    constructionYear = random.randint(2000, 2015)
    startDate = (date(constructionYear, random.randint(1, 12),
                      random.randint(1, 27))).strftime('%d-%b-%Y')
    endDate = (
        date(constructionYear, random.randint(1, 12), random.randint(
            1, 27)) +
        timedelta(days=365 * random.randint(2, 7))).strftime('%d-%b-%Y')
    plinth = round(random.uniform(300, 450), 4)
    aadharID = random.choice(aadhars[:10])
    local = get_random_locality(np.random.choice(locality.state.unique()[:6]))
    lclty = local[1]
    address = fake.street_address().replace('\n', ' ') + ' ' + local[1] + ', ' + local[2] + ' ' + str(local[0])
    
    query = "exec InsertPropertyRecord({}, {}, {}, {}, {}, '{}', '{}', '{}', {}, '{}', '{}');".format(
    pid, rent, rentHike, floors, constructionYear,
    address, startDate, endDate, plinth, lclty,
    aadharID)
    return (query, pid)

In [12]:
properties = []
f = open('property.sql', 'w+')
for pid in range(100, 150):
    prop = get_property(pid)
    print(prop[0])
    properties.append(prop[1])
    f.writelines(prop[0] + '\n')

exec InsertPropertyRecord(100, 47000, 18.3488, 2, 2007, 'H.No. 32 Koshy Circle Dasna Gate, Uttar Pradesh 201009', '15-Feb-2007', '03-Sep-2009', 397.8217, 'Dasna Gate', '4633');
exec InsertPropertyRecord(101, 25000, 92.6367, 1, 2005, 'H.No. 122, Raju Marg Faridabad, haryana 121002', '16-Jul-2005', '06-Aug-2010', 435.3664, 'Faridabad', '2026');
exec InsertPropertyRecord(102, 20000, 98.5309, 2, 2014, '69, Lalla Chowk Chamkaur Sahib, Punjab 140112', '14-May-2014', '22-Dec-2020', 399.2807, 'Chamkaur Sahib', '2131');
exec InsertPropertyRecord(103, 32000, 29.6708, 1, 2001, '01/84 Bhalla Path Chamkaur Sahib, Punjab 140112', '11-Dec-2001', '01-Jan-2007', 371.5183, 'Chamkaur Sahib', '4633');
exec InsertPropertyRecord(104, 23000, 96.0779, 1, 2005, '27 Sen Nagar Dundahera, Haryana 122016', '20-Feb-2005', '22-Feb-2008', 360.5663, 'Dundahera', '3482');
exec InsertPropertyRecord(105, 57000, 59.4519, 3, 2002, '28/14 Ramanathan Circle Bara Tooti, New Delhi 110006', '22-Jul-2002', '17-Oct-2008', 347.4555, 'Bara Tooti', '3481');
exec InsertPropertyRecord(106, 40000, 23.8686, 2, 2004, '528, Acharya Circle Gurgaon Palampur Road, Haryana 122015', '21-Nov-2004', '14-May-2008', 439.3527, 'Gurgaon Palampur Road', '2383');
exec InsertPropertyRecord(107, 49000, 62.1159, 3, 2003, '01 Vyas Path Aerodrome Chandigarh, Chandigarh 160003', '18-Feb-2003', '16-Apr-2007', 319.8685, 'Aerodrome Chandigarh', '3857');
exec InsertPropertyRecord(108, 35000, 36.9527, 1, 2014, '039 Basak Zila Dasna Gate, Uttar Pradesh 201009', '23-Sep-2014', '18-May-2021', 379.3411, 'Dasna Gate', '4633');
exec InsertPropertyRecord(109, 26000, 93.893, 1, 2008, 'H.No. 822 Maharaj Chowk Dundahera, Haryana 122016', '04-Feb-2008', '18-Dec-2011', 340.8522, 'Dundahera', '3482');
exec InsertPropertyRecord(110, 41000, 20.3597, 3, 2008, 'H.No. 89, Cherian Marg Industrial Area Sector 28, Chandigarh 160002', '16-Sep-2008', '02-May-2010', 395.1427, 'Industrial Area Sector 28', '3481');
exec InsertPropertyRecord(111, 20000, 33.3557, 1, 2008, '46/578, Bhasin Chowk Bara Tooti, New Delhi 110006', '24-Mar-2008', '17-Aug-2015', 364.153, 'Bara Tooti', '2102');
exec InsertPropertyRecord(112, 24000, 94.5051, 3, 2004, '150, Malhotra Bara Tooti, New Delhi 110006', '02-Sep-2004', '18-Jun-2010', 322.2141, 'Bara Tooti', '2026');
exec InsertPropertyRecord(113, 39000, 36.4652, 1, 2011, '30/10, Bandi Ganj Bara Tooti, New Delhi 110006', '22-Apr-2011', '21-Apr-2013', 353.0518, 'Bara Tooti', '4633');
exec InsertPropertyRecord(114, 59000, 74.9478, 1, 2005, 'H.No. 18, Dewan Ganj Sector 10 Chandigarh, Chandigarh 160010', '14-Mar-2005', '05-Jan-2012', 438.6731, 'Sector 10 Chandigarh', '4187');
exec InsertPropertyRecord(115, 35000, 26.6806, 3, 2003, '829 Khalsa Faridabad, haryana 121002', '02-Jul-2003', '07-Aug-2006', 422.488, 'Faridabad', '2131');
exec InsertPropertyRecord(116, 39000, 82.0536, 1, 2007, '63, Bava Zila Chamkaur Sahib, Punjab 140112', '22-Jan-2007', '12-Apr-2011', 341.7905, 'Chamkaur Sahib', '2383');
exec InsertPropertyRecord(117, 37000, 35.1146, 3, 2012, 'H.No. 66 Venkatesh Chowk Dasna Gate, Uttar Pradesh 201009', '27-Nov-2012', '11-Sep-2014', 317.3013, 'Dasna Gate', '3481');
exec InsertPropertyRecord(118, 57000, 96.2534, 2, 2001, '10/651, Char Ganj Dasna Gate, Uttar Pradesh 201009', '20-Feb-2001', '10-Jul-2008', 417.9642, 'Dasna Gate', '4187');
exec InsertPropertyRecord(119, 52000, 11.5646, 3, 2006, '72/62, Kashyap Road Faridabad, haryana 121002', '02-May-2006', '13-Dec-2008', 377.9881, 'Faridabad', '4633');
exec InsertPropertyRecord(120, 43000, 43.1297, 3, 2010, 'H.No. 781, Sachdev Nagar Bara Tooti, New Delhi 110006', '11-Oct-2010', '02-Nov-2017', 435.007, 'Bara Tooti', '4633');
exec InsertPropertyRecord(121, 46000, 32.6183, 3, 2009, 'H.No. 326, Khosla Chowk Faridabad, haryana 121002', '05-Sep-2009', '12-Apr-2016', 441.0546, 'Faridabad', '2026');
exec InsertPropertyRecord(122, 45000, 54.7937, 1, 2009, '02, Agarwal Marg Dasna Gate, Uttar Pradesh 201009', '07-May-2009', '25-Jul-2015', 390.9992, 'Dasna Gate', '3857');
exec InsertPropertyRecord(123, 48000, 44.216, 1, 2015, 'H.No. 74 Sarin Marg Faridabad, haryana 121002', '06-Dec-2015', '02-Nov-2019', 377.3178, 'Faridabad', '3482');
exec InsertPropertyRecord(124, 25000, 81.8423, 1, 2009, '343 Mann Nagar Chamkaur Sahib, Punjab 140112', '26-Apr-2009', '05-Apr-2011', 306.9321, 'Chamkaur Sahib', '2131');
exec InsertPropertyRecord(125, 24000, 45.5416, 3, 2006, '50/097, Varkey Circle Chamkaur Sahib, Punjab 140112', '23-Dec-2006', '15-Jul-2011', 336.5977, 'Chamkaur Sahib', '2102');
exec InsertPropertyRecord(126, 26000, 77.842, 1, 2005, 'H.No. 812, Rajan Zila Faridabad, haryana 121002', '17-Dec-2005', '01-Aug-2011', 337.3797, 'Faridabad', '2383');
exec InsertPropertyRecord(127, 28000, 80.1417, 3, 2010, '36/193, Rajan Dasna Gate, Uttar Pradesh 201009', '20-Aug-2010', '16-Dec-2015', 424.5854, 'Dasna Gate', '4633');
exec InsertPropertyRecord(128, 30000, 74.3655, 2, 2014, '16/99, Dugar Circle Dundahera, Haryana 122016', '25-May-2014', '25-Apr-2021', 341.5967, 'Dundahera', '4633');
exec InsertPropertyRecord(129, 35000, 27.4597, 1, 2009, '534 Bhatti Marg Dasna Gate, Uttar Pradesh 201009', '09-Apr-2009', '10-Jun-2015', 312.0866, 'Dasna Gate', '2026');
exec InsertPropertyRecord(130, 44000, 69.395, 3, 2006, '51 Karnik Nagar Sector 10 Chandigarh, Chandigarh 160010', '14-Feb-2006', '09-Jul-2012', 369.8886, 'Sector 10 Chandigarh', '2102');
exec InsertPropertyRecord(131, 46000, 38.9477, 3, 2000, 'H.No. 838, Bhatti Road Dasna Gate, Uttar Pradesh 201009', '13-Oct-2000', '31-Jul-2004', 344.7919, 'Dasna Gate', '4187');
exec InsertPropertyRecord(132, 54000, 74.7516, 3, 2007, 'H.No. 354 Kanda Street Chamkaur Sahib, Punjab 140112', '08-Aug-2007', '12-May-2012', 304.3537, 'Chamkaur Sahib', '3857');
exec InsertPropertyRecord(133, 45000, 72.4181, 2, 2004, '80/84 Vyas Zila Aerodrome Chandigarh, Chandigarh 160003', '18-Oct-2004', '11-Jan-2010', 384.6588, 'Aerodrome Chandigarh', '2102');
exec InsertPropertyRecord(134, 47000, 13.5699, 2, 2005, 'H.No. 11, Brahmbhatt Circle Sector 10 Chandigarh, Chandigarh 160010', '09-Jan-2005', '10-Jul-2008', 368.2049, 'Sector 10 Chandigarh', '3857');
exec InsertPropertyRecord(135, 37000, 75.201, 2, 2008, 'H.No. 93 Chaudry Path Faridabad, haryana 121002', '16-Feb-2008', '22-Jan-2014', 307.8128, 'Faridabad', '3857');
exec InsertPropertyRecord(136, 24000, 78.1233, 3, 2001, '74/01 Thakkar Marg Chamkaur Sahib, Punjab 140112', '08-Jan-2001', '27-Apr-2003', 393.2003, 'Chamkaur Sahib', '3408');
exec InsertPropertyRecord(137, 50000, 66.9459, 3, 2006, 'H.No. 052 Buch Road Sector 10 Chandigarh, Chandigarh 160010', '23-Aug-2006', '24-May-2010', 325.1684, 'Sector 10 Chandigarh', '3482');
exec InsertPropertyRecord(138, 27000, 77.7792, 1, 2009, '68/01 Wagle Zila Dundahera, Haryana 122016', '19-Feb-2009', '09-Jan-2015', 401.6021, 'Dundahera', '4187');
exec InsertPropertyRecord(139, 32000, 7.5996, 3, 2007, '05/98, Kale Street Industrial Area Sector 28, Chandigarh 160002', '23-Feb-2007', '20-May-2013', 420.8292, 'Industrial Area Sector 28', '3482');
exec InsertPropertyRecord(140, 42000, 53.2745, 3, 2011, 'H.No. 450, Cheema Path Dasna Gate, Uttar Pradesh 201009', '17-Feb-2011', '10-Nov-2013', 427.4363, 'Dasna Gate', '2131');
exec InsertPropertyRecord(141, 47000, 96.0788, 3, 2014, '15/869, Dani Street Chamkaur Sahib, Punjab 140112', '05-Dec-2014', '04-Jul-2021', 378.262, 'Chamkaur Sahib', '3481');
exec InsertPropertyRecord(142, 54000, 77.4641, 2, 2013, '602, Srinivas Path Sector 10 Chandigarh, Chandigarh 160010', '19-Dec-2013', '10-May-2016', 424.6097, 'Sector 10 Chandigarh', '2383');
exec InsertPropertyRecord(143, 48000, 24.3863, 2, 2012, '34/216 Varughese Nagar Chamkaur Sahib, Punjab 140112', '01-Jun-2012', '11-Aug-2015', 373.1325, 'Chamkaur Sahib', '3857');
exec InsertPropertyRecord(144, 36000, 34.0339, 3, 2008, '375 Tara Road Dundahera, Haryana 122016', '01-Sep-2008', '07-Sep-2010', 336.2034, 'Dundahera', '4187');
exec InsertPropertyRecord(145, 55000, 75.8165, 3, 2015, '036, Dewan Path Faridabad, haryana 121002', '23-Nov-2015', '14-Aug-2017', 313.958, 'Faridabad', '3408');
exec InsertPropertyRecord(146, 35000, 30.6206, 3, 2011, 'H.No. 58, Sane Marg Dundahera, Haryana 122016', '18-Aug-2011', '10-Sep-2016', 449.4947, 'Dundahera', '4633');
exec InsertPropertyRecord(147, 42000, 70.2855, 2, 2009, 'H.No. 142 Deo Sector 10 Chandigarh, Chandigarh 160010', '08-May-2009', '24-Feb-2012', 347.3322, 'Sector 10 Chandigarh', '4633');
exec InsertPropertyRecord(148, 31000, 19.1541, 3, 2015, 'H.No. 965, Kamdar Path Chamkaur Sahib, Punjab 140112', '24-May-2015', '23-Oct-2021', 389.5186, 'Chamkaur Sahib', '2383');
exec InsertPropertyRecord(149, 38000, 22.7483, 1, 2009, '93, Bains Road Faridabad, haryana 121002', '23-Jan-2009', '04-Sep-2013', 306.8274, 'Faridabad', '2102');

# Commercial or Residential

In [13]:
random.shuffle(properties)

In [14]:
for com in properties[:25]:
    query = 'INSERT INTO Commercial VALUES({}, {});'.format(com, round(random.uniform(0, 100), 3))
    print(query)
    f.writelines(query + '\n')

INSERT INTO Commercial VALUES(146, 26.465);
INSERT INTO Commercial VALUES(127, 8.119);
INSERT INTO Commercial VALUES(122, 23.987);
INSERT INTO Commercial VALUES(105, 55.199);
INSERT INTO Commercial VALUES(149, 15.653);
INSERT INTO Commercial VALUES(135, 40.852);
INSERT INTO Commercial VALUES(110, 68.937);
INSERT INTO Commercial VALUES(126, 46.991);
INSERT INTO Commercial VALUES(114, 3.264);
INSERT INTO Commercial VALUES(123, 28.81);
INSERT INTO Commercial VALUES(137, 28.272);
INSERT INTO Commercial VALUES(134, 85.961);
INSERT INTO Commercial VALUES(145, 7.118);
INSERT INTO Commercial VALUES(148, 23.342);
INSERT INTO Commercial VALUES(112, 26.455);
INSERT INTO Commercial VALUES(119, 79.125);
INSERT INTO Commercial VALUES(113, 58.979);
INSERT INTO Commercial VALUES(117, 80.391);
INSERT INTO Commercial VALUES(143, 19.782);
INSERT INTO Commercial VALUES(133, 11.478);
INSERT INTO Commercial VALUES(129, 22.481);
INSERT INTO Commercial VALUES(109, 14.899);
INSERT INTO Commercial VALUES(139, 26.563);
INSERT INTO Commercial VALUES(124, 14.224);
INSERT INTO Commercial VALUES(132, 5.964);

In [15]:
for res in properties[25:]:
    query = 'INSERT INTO Residential VALUES({}, {});'.format(res, random.randint(1, 5))
    print(query)
    f.writelines(query + '\n')

INSERT INTO Residential VALUES(101, 3);
INSERT INTO Residential VALUES(138, 5);
INSERT INTO Residential VALUES(120, 5);
INSERT INTO Residential VALUES(142, 3);
INSERT INTO Residential VALUES(102, 4);
INSERT INTO Residential VALUES(115, 1);
INSERT INTO Residential VALUES(125, 4);
INSERT INTO Residential VALUES(104, 3);
INSERT INTO Residential VALUES(107, 4);
INSERT INTO Residential VALUES(147, 3);
INSERT INTO Residential VALUES(116, 5);
INSERT INTO Residential VALUES(103, 5);
INSERT INTO Residential VALUES(111, 4);
INSERT INTO Residential VALUES(121, 4);
INSERT INTO Residential VALUES(128, 1);
INSERT INTO Residential VALUES(141, 5);
INSERT INTO Residential VALUES(130, 1);
INSERT INTO Residential VALUES(118, 4);
INSERT INTO Residential VALUES(136, 3);
INSERT INTO Residential VALUES(100, 5);
INSERT INTO Residential VALUES(106, 3);
INSERT INTO Residential VALUES(131, 1);
INSERT INTO Residential VALUES(140, 1);
INSERT INTO Residential VALUES(108, 2);
INSERT INTO Residential VALUES(144, 5);

# Tenant

In [16]:
for i in range(20):
    query = "exec AddTenant({}, '{}', {}, '{}', '{}');".format(
        random.choice(properties),
        random.choice(aadhars),
        random.randrange(1000, 8000, 200),
        (date(2010, random.randint(1, 12),
                      random.randint(1, 27))).strftime('%d-%b-%Y'),
        (date(2010, random.randint(1, 12), random.randint(
            1, 27)) + timedelta(days=365 * random.randint(2, 7))).strftime('%d-%b-%Y')
    )
    print(query)
    f.writelines(query + '\n')

exec AddTenant(111, '2102', 4400, '02-Oct-2010', '14-Mar-2016');
exec AddTenant(130, '2350', 4400, '19-Mar-2010', '20-Jul-2015');
exec AddTenant(135, '4484', 5400, '11-Jul-2010', '21-Jun-2012');
exec AddTenant(137, '2260', 6200, '16-Dec-2010', '21-May-2015');
exec AddTenant(108, '2128', 1400, '03-Aug-2010', '08-Jun-2014');
exec AddTenant(126, '2435', 7400, '22-Jan-2010', '14-Sep-2015');
exec AddTenant(105, '4187', 7600, '20-Jun-2010', '20-Aug-2015');
exec AddTenant(108, '2383', 3600, '18-May-2010', '09-Mar-2015');
exec AddTenant(100, '4484', 2400, '21-Jan-2010', '25-Oct-2013');
exec AddTenant(106, '3857', 4800, '01-Sep-2010', '13-Sep-2012');
exec AddTenant(112, '3408', 6800, '21-Feb-2010', '14-Mar-2017');
exec AddTenant(143, '2920', 4400, '27-Jul-2010', '15-Aug-2013');
exec AddTenant(102, '2128', 2800, '07-Jul-2010', '15-Oct-2017');
exec AddTenant(114, '2026', 4400, '11-Jul-2010', '08-Sep-2012');
exec AddTenant(143, '3482', 7200, '15-Mar-2010', '15-Sep-2014');
exec AddTenant(109, '2128', 7800, '15-Jul-2010', '05-Jun-2017');
exec AddTenant(119, '2995', 5800, '25-Apr-2010', '01-Jul-2014');
exec AddTenant(140, '4484', 5800, '22-Jul-2010', '04-Nov-2015');
exec AddTenant(122, '3481', 7400, '11-Oct-2010', '15-Feb-2012');
exec AddTenant(107, '2350', 1000, '05-Dec-2010', '20-Jul-2013');

# Phone Number

In [17]:
for i in range(35):
    no = fake.phone_number()
    query = "INSERT INTO PHONE VALUES('{}', {});".format(random.choice(aadhars), no)
    print(query)
    f.writelines(query + '\n')

INSERT INTO PHONE VALUES('2026', 6088356159);
INSERT INTO PHONE VALUES('4484', 01484656482);
INSERT INTO PHONE VALUES('4633', +916629946804);
INSERT INTO PHONE VALUES('2260', 03699577738);
INSERT INTO PHONE VALUES('4676', 02148951343);
INSERT INTO PHONE VALUES('2435', +912003791769);
INSERT INTO PHONE VALUES('2026', +916763201632);
INSERT INTO PHONE VALUES('2260', 8708317278);
INSERT INTO PHONE VALUES('2128', 9579868727);
INSERT INTO PHONE VALUES('2435', 04348734714);
INSERT INTO PHONE VALUES('2260', +914558122362);
INSERT INTO PHONE VALUES('4484', 3166587603);
INSERT INTO PHONE VALUES('2128', 06909670546);
INSERT INTO PHONE VALUES('2383', 08893734670);
INSERT INTO PHONE VALUES('4676', 05627298069);
INSERT INTO PHONE VALUES('2026', 0162720465);
INSERT INTO PHONE VALUES('2131', +917556464170);
INSERT INTO PHONE VALUES('3482', 8053100330);
INSERT INTO PHONE VALUES('2131', 2327193745);
INSERT INTO PHONE VALUES('2026', +919912419049);
INSERT INTO PHONE VALUES('3327', 6631931491);
INSERT INTO PHONE VALUES('3408', 0586518506);
INSERT INTO PHONE VALUES('3408', 01657262849);
INSERT INTO PHONE VALUES('2350', 7769453147);
INSERT INTO PHONE VALUES('3857', +917996507527);
INSERT INTO PHONE VALUES('3482', +915454948083);
INSERT INTO PHONE VALUES('2102', +913678377701);
INSERT INTO PHONE VALUES('2383', 03634957885);
INSERT INTO PHONE VALUES('2260', 08557444313);
INSERT INTO PHONE VALUES('2383', 01823374989);
INSERT INTO PHONE VALUES('3482', 01343524082);
INSERT INTO PHONE VALUES('4625', 00084271094);
INSERT INTO PHONE VALUES('4625', 07752047116);
INSERT INTO PHONE VALUES('3327', 01902294131);
INSERT INTO PHONE VALUES('3481', 6999386774);

# Facilities

In [18]:
facilities = ['Gated compound',
'Covered car parking',
'Electricity back up',
'Rainwater harvesting',
'RO water',
'Security system',
'Electrical fitting',
'Kitchen fitting',
'Play area for kids',
'Balconies',
'Gymnasium',
'Sports facilities',
'Clubhouse']

for prop in properties[25:]:
    for fac in random.sample(facilities, random.randint(0, len(facilities))):
        query = "INSERT INTO FACILITY VALUES({}, '{}');".format(
            prop, fac
        )
        print(query)
        f.writelines(query + '\n')

INSERT INTO FACILITY VALUES(101, 'Play area for kids');
INSERT INTO FACILITY VALUES(101, 'Electrical fitting');
INSERT INTO FACILITY VALUES(101, 'Balconies');
INSERT INTO FACILITY VALUES(138, 'Clubhouse');
INSERT INTO FACILITY VALUES(138, 'Electricity back up');
INSERT INTO FACILITY VALUES(138, 'Sports facilities');
INSERT INTO FACILITY VALUES(138, 'Gymnasium');
INSERT INTO FACILITY VALUES(138, 'Covered car parking');
INSERT INTO FACILITY VALUES(138, 'Electrical fitting');
INSERT INTO FACILITY VALUES(138, 'RO water');
INSERT INTO FACILITY VALUES(138, 'Security system');
INSERT INTO FACILITY VALUES(138, 'Play area for kids');
INSERT INTO FACILITY VALUES(138, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(120, 'Electricity back up');
INSERT INTO FACILITY VALUES(120, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(120, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(120, 'RO water');
INSERT INTO FACILITY VALUES(120, 'Gymnasium');
INSERT INTO FACILITY VALUES(120, 'Balconies');
INSERT INTO FACILITY VALUES(120, 'Security system');
INSERT INTO FACILITY VALUES(120, 'Gated compound');
INSERT INTO FACILITY VALUES(120, 'Sports facilities');
INSERT INTO FACILITY VALUES(142, 'Gymnasium');
INSERT INTO FACILITY VALUES(142, 'Play area for kids');
INSERT INTO FACILITY VALUES(142, 'Electricity back up');
INSERT INTO FACILITY VALUES(142, 'Covered car parking');
INSERT INTO FACILITY VALUES(102, 'Security system');
INSERT INTO FACILITY VALUES(102, 'Balconies');
INSERT INTO FACILITY VALUES(102, 'RO water');
INSERT INTO FACILITY VALUES(102, 'Electrical fitting');
INSERT INTO FACILITY VALUES(102, 'Gymnasium');
INSERT INTO FACILITY VALUES(102, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(102, 'Sports facilities');
INSERT INTO FACILITY VALUES(115, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(115, 'Electrical fitting');
INSERT INTO FACILITY VALUES(115, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(115, 'Covered car parking');
INSERT INTO FACILITY VALUES(125, 'Electrical fitting');
INSERT INTO FACILITY VALUES(125, 'Balconies');
INSERT INTO FACILITY VALUES(125, 'Security system');
INSERT INTO FACILITY VALUES(104, 'RO water');
INSERT INTO FACILITY VALUES(104, 'Sports facilities');
INSERT INTO FACILITY VALUES(104, 'Clubhouse');
INSERT INTO FACILITY VALUES(104, 'Gated compound');
INSERT INTO FACILITY VALUES(104, 'Electrical fitting');
INSERT INTO FACILITY VALUES(104, 'Gymnasium');
INSERT INTO FACILITY VALUES(104, 'Balconies');
INSERT INTO FACILITY VALUES(104, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(104, 'Play area for kids');
INSERT INTO FACILITY VALUES(107, 'Sports facilities');
INSERT INTO FACILITY VALUES(107, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(107, 'RO water');
INSERT INTO FACILITY VALUES(107, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(107, 'Security system');
INSERT INTO FACILITY VALUES(107, 'Balconies');
INSERT INTO FACILITY VALUES(107, 'Play area for kids');
INSERT INTO FACILITY VALUES(107, 'Covered car parking');
INSERT INTO FACILITY VALUES(107, 'Gymnasium');
INSERT INTO FACILITY VALUES(147, 'Gymnasium');
INSERT INTO FACILITY VALUES(147, 'Sports facilities');
INSERT INTO FACILITY VALUES(147, 'Clubhouse');
INSERT INTO FACILITY VALUES(147, 'Electricity back up');
INSERT INTO FACILITY VALUES(116, 'Covered car parking');
INSERT INTO FACILITY VALUES(116, 'Gymnasium');
INSERT INTO FACILITY VALUES(116, 'Sports facilities');
INSERT INTO FACILITY VALUES(116, 'Gated compound');
INSERT INTO FACILITY VALUES(116, 'RO water');
INSERT INTO FACILITY VALUES(116, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(116, 'Balconies');
INSERT INTO FACILITY VALUES(116, 'Play area for kids');
INSERT INTO FACILITY VALUES(116, 'Electricity back up');
INSERT INTO FACILITY VALUES(116, 'Clubhouse');
INSERT INTO FACILITY VALUES(103, 'RO water');
INSERT INTO FACILITY VALUES(111, 'Sports facilities');
INSERT INTO FACILITY VALUES(111, 'Electrical fitting');
INSERT INTO FACILITY VALUES(111, 'Electricity back up');
INSERT INTO FACILITY VALUES(111, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(111, 'Gymnasium');
INSERT INTO FACILITY VALUES(121, 'Play area for kids');
INSERT INTO FACILITY VALUES(121, 'Security system');
INSERT INTO FACILITY VALUES(121, 'Clubhouse');
INSERT INTO FACILITY VALUES(121, 'Gymnasium');
INSERT INTO FACILITY VALUES(121, 'RO water');
INSERT INTO FACILITY VALUES(121, 'Electricity back up');
INSERT INTO FACILITY VALUES(121, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(121, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(121, 'Electrical fitting');
INSERT INTO FACILITY VALUES(121, 'Balconies');
INSERT INTO FACILITY VALUES(121, 'Gated compound');
INSERT INTO FACILITY VALUES(121, 'Covered car parking');
INSERT INTO FACILITY VALUES(128, 'Electricity back up');
INSERT INTO FACILITY VALUES(141, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(141, 'Gymnasium');
INSERT INTO FACILITY VALUES(141, 'Sports facilities');
INSERT INTO FACILITY VALUES(141, 'Electrical fitting');
INSERT INTO FACILITY VALUES(141, 'Play area for kids');
INSERT INTO FACILITY VALUES(141, 'Security system');
INSERT INTO FACILITY VALUES(141, 'Gated compound');
INSERT INTO FACILITY VALUES(141, 'Clubhouse');
INSERT INTO FACILITY VALUES(141, 'Balconies');
INSERT INTO FACILITY VALUES(141, 'Electricity back up');
INSERT INTO FACILITY VALUES(141, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(141, 'RO water');
INSERT INTO FACILITY VALUES(130, 'Security system');
INSERT INTO FACILITY VALUES(130, 'Gymnasium');
INSERT INTO FACILITY VALUES(130, 'Sports facilities');
INSERT INTO FACILITY VALUES(130, 'RO water');
INSERT INTO FACILITY VALUES(130, 'Electrical fitting');
INSERT INTO FACILITY VALUES(130, 'Clubhouse');
INSERT INTO FACILITY VALUES(130, 'Gated compound');
INSERT INTO FACILITY VALUES(118, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(118, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(118, 'Gated compound');
INSERT INTO FACILITY VALUES(118, 'Balconies');
INSERT INTO FACILITY VALUES(118, 'Play area for kids');
INSERT INTO FACILITY VALUES(118, 'Security system');
INSERT INTO FACILITY VALUES(118, 'RO water');
INSERT INTO FACILITY VALUES(118, 'Covered car parking');
INSERT INTO FACILITY VALUES(118, 'Gymnasium');
INSERT INTO FACILITY VALUES(118, 'Clubhouse');
INSERT INTO FACILITY VALUES(136, 'RO water');
INSERT INTO FACILITY VALUES(136, 'Gymnasium');
INSERT INTO FACILITY VALUES(136, 'Electrical fitting');
INSERT INTO FACILITY VALUES(136, 'Covered car parking');
INSERT INTO FACILITY VALUES(136, 'Electricity back up');
INSERT INTO FACILITY VALUES(136, 'Gated compound');
INSERT INTO FACILITY VALUES(136, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(136, 'Play area for kids');
INSERT INTO FACILITY VALUES(136, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(136, 'Sports facilities');
INSERT INTO FACILITY VALUES(136, 'Clubhouse');
INSERT INTO FACILITY VALUES(100, 'Play area for kids');
INSERT INTO FACILITY VALUES(100, 'Electricity back up');
INSERT INTO FACILITY VALUES(100, 'Electrical fitting');
INSERT INTO FACILITY VALUES(106, 'Security system');
INSERT INTO FACILITY VALUES(106, 'Gymnasium');
INSERT INTO FACILITY VALUES(106, 'Play area for kids');
INSERT INTO FACILITY VALUES(106, 'Electrical fitting');
INSERT INTO FACILITY VALUES(106, 'Electricity back up');
INSERT INTO FACILITY VALUES(106, 'Balconies');
INSERT INTO FACILITY VALUES(106, 'Clubhouse');
INSERT INTO FACILITY VALUES(131, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(140, 'Electrical fitting');
INSERT INTO FACILITY VALUES(140, 'RO water');
INSERT INTO FACILITY VALUES(140, 'Gated compound');
INSERT INTO FACILITY VALUES(140, 'Security system');
INSERT INTO FACILITY VALUES(140, 'Rainwater harvesting');
INSERT INTO FACILITY VALUES(140, 'Kitchen fitting');
INSERT INTO FACILITY VALUES(140, 'Play area for kids');
INSERT INTO FACILITY VALUES(140, 'Covered car parking');
INSERT INTO FACILITY VALUES(140, 'Electricity back up');
INSERT INTO FACILITY VALUES(108, 'Gymnasium');
INSERT INTO FACILITY VALUES(144, 'Play area for kids');
INSERT INTO FACILITY VALUES(144, 'Gymnasium');
INSERT INTO FACILITY VALUES(144, 'Security system');
INSERT INTO FACILITY VALUES(144, 'Gated compound');
INSERT INTO FACILITY VALUES(144, 'Electrical fitting');

In [19]:
f.close()